@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Slab');

/*.page {
	width: 1340px; /*зачем? почему не делать во всю ширину страницы? если это задумка, почему не сделать по центру при помощи margin: auto;*/
	/*position: relative; зачем? футер хотела позиционировать?
} */

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

section {
	width: 400px;
	height: 800px;
	border: 1px solid green;
	box-sizing: border-box;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
}

.headerContainer {
	width: 100%; 
	height: 300px;
	border: 1px solid transparent;
	box-sizing: border-box;
	background-image: url(../img/pic.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.heading {
	margin-top: 110px; 
	text-align: center;
	font-size: 35px;
}

.outer {
	font-size: 0;
	margin: 300px 10px 10px; /* вот тут давай сделаем margin auto и зададим ширину? */
}

.sectionHeader {
	font-size: 18px;
	line-height: 24px;
}

.mainText, li {
	font-family: 'Lora', serif;
	font-size: 16px;
	line-height: 18px;
}

ol li {
	list-style-type: decimal;
	list-style-position: inside;
}
ul li {
	list-style-type: circle;
	list-style-position: inside;
}

/* почему бы не сделать контейнер-хранилище колонок и не вписать туда margin: auto;, чтоб все стало по центру, вместо всей этой сложной математики с margin? */

.left, .middle, .right {
	margin: 15px;
}


.footerContainer {
	width: 100%; 
	height: 50px;
	background-color: rgb(0, 128, 32);
	box-sizing: border-box;
	padding-top: 20px;
	padding-left: 20px;
	color: white;
	font-size: 16px;
}