@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

.page {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

.header, .footerConteiner {
	height: 70px;
	background-color: rgba(32, 128, 0, .6);
	line-height: 70px;
	color: white;
}

.picture {
	height: 250px;
	background-image: url(../img/pic.jpg);
	background-size: cover;
}

.menu {
	height: 40px;
	background-color: rgba(32, 128, 0, .6);
	text-align: center;
	line-height: 40px;
}

.menu p, .menu p a {
	color: white;
	text-decoration: none;
}

.heading h1 {
	font-size: 35px;
	text-align: center;
	text-shadow: 2px 2px 5px grey;
}

.sectionHeading {
	color: rgba(32, 128, 0, .8);
	font-size: 25px;
	line-height: 35px;
}

.listHeading {
	color: rgba(32, 128, 0, .8);
	line-height: 35px;
}

li a {
	color: grey;
	font-size: 18px;
}